<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <p style="font-size: 19px">{{user.knownAs+' - '+user.email}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{user.photoUrl || '../../../assets/user.png'}}" alt="{{user.knownAs}}">
        <div class="card-body">
          <div>
            <strong>Location</strong>
            <p>{{user.city}}, {{user?.country}}</p>
          </div>
          <div>
            <strong>Age</strong>
            <p>{{user.age}}</p>
          </div>
          <div>
            <strong>Last Active</strong>
            <p>{{user.lastActive | timeago}}</p>
          </div>
          <div>
            <strong>Member since</strong>
            <p>{{user.created | date: 'mediumDate'}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
        <tabset>
          <tab heading="Basic title" id="tab1">
            <p class="font-weight-bold mb-2 mt-4">Interests</p>
            <p class="text-justify mb-2">{{user.interests}}</p>
            <p class="font-weight-bold mb-2">Introduction</p>
            <p class="text-justify">{{user.introduction}}</p>
          </tab>
          <tab heading="Photos"><ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery></tab>
          <tab heading="Basic Title 2">Basic content 2</tab>
        </tabset>
    </div>
  </div>
</div>
