<div class="card">
  <div class="image-wrapper">
    <img [src]="user.photoUrl || '../../../assets/user.png'" class="card-img-top">
    <ul class="list-inline member-icons animate text-center">
      <li class="list-inline-item"><a [routerLink]="['/members/detail/', user.id]"  class="btn btn-sm btn-success"><i class="fa fa-users"></i></a></li>
      <li class="list-inline-item"><button class="btn btn-sm btn-success" (click)="addLike(user.id)"><i class="fa fa-heart"></i></button></li>
      <li class="list-inline-item"><button class="btn btn-sm btn-success"><i class="fa fa-envelope"></i></button></li>
    </ul>
  </div>
  <div class="w-100 p-2">
    <p class="font-weight-bold text-center" style="font-size: 12px;">{{user.email}}</p>
    <p class="card-text text-justify">{{(user.introduction) ? user.introduction : 'no introduction'}}</p>
  </div>
</div>
